<div class="row">
<div class="col-md-12">
<ul class="nav nav-tabs">
    <!-- <li ng-class="{active: tab== '/dashboard'}">
        <a href="#dashboard" ng-click="setTab('dashboard')"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    </li>
    <li ng-class="{active: tab== '/search'}">
        <a href="#search" ng-click="setTab('search')"><i class="fa fa-fw fa-search"></i> Search</a>
    </li> -->
    <li ng-class="{active: tab== '/users'}">
        <a href="#users" ng-click="setTab('users')"><i class="fa fa-fw fa-users"></i> Users</a>
    </li>
    <li ng-class="{active: tab== '/projects'}">
        <a href="#projects" ng-click="setTab('projects')" ><i class="fa fa-fw fa-gears"></i> Projects</a>
    </li>
</ul>
</div>
</div>
