<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
 
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/custom_multiselect.js"></script>
        <script type='text/javascript' src='js/angular.js'></script>
        <script type='text/javascript' src='js/angular-route.js'></script>
        <script type='text/javascript' src='js/angular-animate.js'></script>
        <script type='text/javascript' src='js/angular-resource.js'></script>
        <script type='text/javascript' src='js/dirPagination.js'></script>  
        <script type='text/javascript' src='js/checklist-model.js'></script> 
        <script type="text/javascript" src="js/tabs.js"></script> 
        <script type="text/javascript" src="js/projects.js"></script>
         <script type="text/javascript" src="js/app.js"></script> 

         
        
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="custom.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="custom_multiselect.css">


    </head>
    <body ng-app="btProduct"  ng-switch="tab">
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img height="36" alt="Brand" src="images/logo.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-lg fa-user"></i>Balaji Arumugam <i class="fa fa-caret-down"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Update Profile</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Change Password</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <tabs></tabs>
                <div class="row animate-switch" ng-switch-default>
                    <div class="col-md-12 hidden-sm hidden-xs" >
                    </div>
                </div>
               <!--  <div class="row animate-switch" ng-switch-when="/projects">
                    <div class="col-md-12 hidden-sm hidden-xs" >
                        <ul class="nav nav-justified nav-pills">

                            <li class="bg-change"  ng-class="{active: projecttab== 'domains', disabled: !project_sel_id}" >
                                <a href="#" ng-click="!project_sel_id || setprojectTab('domains')" ng-class="{disabled: !project_sel_id}" ><i class="fa fa-fw fa-clipboard"></i>Domains</a>
                            </li>
                            <li class="bg-change"   ng-class="{active: projecttab== 'ontologies', disabled: !project_sel_id}">
                                <a href="#" ng-click="!project_sel_id ||setprojectTab('ontologies')"><i class="fa fa-fw fa-copy"></i>Ontologies</a>
                            </li>
                            <li class=" bg-change" ng-class="{active: projecttab== 'data', disabled: !project_sel_id}">
                                <a href="#" ng-click="!project_sel_id ||setprojectTab('data')"><i class="fa fa-fw fa-book"></i>Data</a>
                            </li>
                            <li class="bg-change" ng-class="{active: projecttab== 'tools', disabled: !project_sel_id}">
                                <a href="#" ng-click="!project_sel_id ||setprojectTab('tools')"><i class="fa fa-fw fa-code-fork"></i>Tools</a>
                            </li>
                            <li class="bg-change" ng-class="{active: projecttab== 'reports', disabled: !project_sel_id}">
                                <a href="#" ng-click="!project_sel_id ||setprojectTab('reports')"><i class="fa fa-fw fa-bar-chart"></i>Reports</a>
                            </li>
                        </ul>
                    </div>
                </div> -->

            </div>
        </div>
         
<section ng-view></section>
<!-- <projectscontainer ng-switch-when="/projects" ></projectscontainer> -->




<footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-5">
            <p class="text-info text-left">© Copyright 2016 by BigTapp. All Rights Reserved.</p>
          </div>
        </div>
      </div>
</footer>
 
</body>
</html>
