<div class="section">
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div class="container">
            <div class="row">
               <div class="col-md-2">
                  <a class="btn btn-primary btn-sm  " ng-click="newfb()"><i class="fa fa-fw fa-plus-circle"></i> New Source</a> 

               </div>
               <div class="col-md-3 text-left">
                  <div class="form-group has-warning">
                     <input type="text" class="form-control input-sm" ng-model="search" placeholder="Search  Collections" />  
                  </div>
               </div>
               <div class="col-md-1 ">
                  <div class="form-group">
                     <input type="number" min="1" max="100" class="form-control input-sm" ng-model="fbpageSize"  />
                  </div>
               </div>
            </div>
            <table class="table table-bordered table-condensed table-hover table-striped"  >
                

               <tbody   dir-paginate="socialfb in datasocials| orderBy:sortKey:reverse|filter:search|itemsPerPage:fbpageSize" pagination-id="facebookpagination" current-page="fbcurrentPage">
                  <tr>
                     <td>{{ ($index + 1) + (fbcurrentPage - 1) * fbpageSize}}</td>
                     <td>{{socialfb.collection_name}}</td>
                      
                      <td>
                        <span class="label " ng-class="{'label-warning': socialfb.status != '300', 'label-success': socialfb.status == '300','label-danger': socialfb.status == '400'}">{{getProcessStatus(socialfb.status)}}</span>
                     </td>
                     <td>{{socialfb.created_at}}</td>
                     <td>
                        <a href="#data-sources" class="btn  btn-md"  ng-click="viewfb(socialfb.id)"><i class="fa fa-fw fa-eye"></i>&nbsp;View</a>
                        <a href="#data-sources" class="btn  btn-md"  ng-click="editfb(socialfb.id)"><i class="fa fa-fw fa-edit" ></i> Edit</a>
                        <a href="#data-sources" class="btn  btn-md" ng-click="deletefb(socialfb.id)"><i class="fa fa-fw fa-trash"></i> Delete</a>
                     </td>
                  </tr>
               </tbody>
               <thead>
                  <tr>
                     <th class="btn-xs">#</th>
                     <th class="btn-xs">Collection Name</th> 
                     <th class="btn-xs"> Processing Status <a class="btn btn-default" ng-click="listSocials()"><i class="fa fa-fw fa-refresh" ></i></a></th>
                     <th class="btn-xs">Creation Time</th>
                     <th class="btn-xs">Actions </th>
                  </tr>
               </thead>
            </table>
           <div class="col-md-10 text-center">
            <dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true" pagination-id="facebookpagination" >
    </dir-pagination-controls>
          </div>
         </div>
      </div>
   </div>
</div>