<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="container">
              <div class="row">
                <div class="col-md-2">
                  <a class="btn btn-primary btn-sm  " ng-click="newDataWeb()"><i class="fa fa-fw fa-plus-circle"></i> New Web Source</a>
                </div>
                <div class="col-md-3 text-left">
                  <div class="form-group has-warning">
                  <input type="text" class="form-control input-sm" ng-model="websearch" placeholder="Search  Collections" />  
                  </div> 
               </div>
               <div class="col-md-1 ">
                            <div class="form-group">
                                 <input type="number" min="1" max="100" class="form-control input-sm" ng-model="webpageSize"  />
                            </div>
                </div>
            </div>
            <table class="table table-bordered table-condensed table-hover table-striped">
              <tbody dir-paginate="web in datawebs| orderBy:websortKey:webreverse|filter:websearch|itemsPerPage:webpageSize" pagination-id="web" current-page="webcurrentPage">
                <tr>
                  <td>{{ ($index + 1) + (webcurrentPage - 1) * webpageSize}}</td>
                  <td class="text-center">{{web.url_collection_name}}</td>
                  <td class="text-center">
                     <span class="label " ng-class="{'label-warning': web.status != '300', 'label-success': web.status == '300','label-danger': web.status == '400'}">{{getProcessStatus(web.status)}}</span>
                  </td>
                  <td class="text-center">{{web.created_at}}</td>
                  <td class="text-center">
                    <a href="#" class="btn  btn-md"  ng-click="viewWeb(web.id)"><i class="fa fa-fw fa-eye"></i>&nbsp;View</a>
                    <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-fw fa-stop"></i> Stop Crawl</a>
                    <a href="#" ng-click="deleteDataWeb(web.id)" class="btn  btn-md"><i class="fa fa-fw fa-trash"></i> Remove</a>
                  </td>
                </tr>
                 
              </tbody>
              <thead>
                <tr>
                  <th class="btn-xs">#</th>
                  <th class="btn-xs text-center" ng-click="sortweb('url_collection_name')" >Collection Name
                    <i class="fa fa-fw -circle-o fa-angle-down"   ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></i>
                  </th>
                  <th class="btn-xs" > Processing Status <a class="btn btn-default" ng-click="listWebs()"><i class="fa fa-fw fa-refresh" ></i></a></th>
                  <th class="btn-xs text-center" >Creation Time</th>
                  <th class="btn-xs text-center">Actions</th>
                </tr>
              </thead>
            </table>
            <div class="col-md-10 text-center">
            <dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true" pagination-id="web" >
    </dir-pagination-controls>
          </div>
          </div>
        </div>
      </div>
    </div>