<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="btn btn-primary">
                                <i class="fa fa-fw fa-plus-circle"></i>New Project
                            </a>
                        </div>
                        <div class="col-md-5 text-left">
                            <div class="form-group has-warning">
                                <input type="text" class="form-control input-sm" placeholder="Search  Projects" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-condensed table-hover table-striped">
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto 
                                    <span style="line-height: 22.8571px;">Otto</span>Otto
                                    <span style="line-height: 22.8571px;">Otto</span>Otto 
                                    <span style="line-height: 22.8571px;">Otto</span>
                                    <span style="line-height: 22.8571px;">Otto</span>Otto
                                    <span style="line-height: 22.8571px;">Otto</span>
                                    <span style="line-height: 22.8571px;">Otto</span>OttoOtto
                                </td>
                                <td>
                                    <a href="#" class="btn   btn-md">
                                        <i class="fa fa-fw fa-clipboard"></i>Domains
                                    </a>
                                    <a href="#" class="btn  btn-md">
                                        <i class="fa fa-fw fa-copy"></i>Ontologies
                                    </a>
                                    <a href="#" class="btn  btn-md">
                                        <i class="fa fa-fw fa-book"></i>Data
                                    </a>
                                    <a href="#" class="btn  btn-md">
                                        <i class="fa fa-fw fa-code-fork"></i>Tools
                                    </a>
                                    <a href="#" class="btn   btn-md">
                                        <i class="fa fa-fw fa-bar-chart"></i>Reports
                                    </a>
                                    <a href="#" class="btn  btn-md">
                                        <i class="fa fa-fw fa-edit"></i>Edit
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>
                                    <a href="#" class="btn   btn-md">
                                        <i class="fa fa-fw fa-clipboard"></i>Domains
                                    </a>
                                    <a href="#" class="btn   btn-md">
                                        <i class="fa fa-fw fa-copy"></i>Ontologies
                                    </a>
                                    <a href="#" class="btn   btn-md">
                                        <i class="fa fa-fw fa-book"></i>Data
                                    </a>
                                    <a href="#" class="btn  btn-md">
                                        <i class="fa fa-fw fa-code-fork"></i>Tools
                                    </a>
                                    <a href="#" class="btn btn-md">
                                        <i class="fa fa-fw fa-bar-chart"></i>Reports
                                    </a>
                                    <a href="#" class="btn   btn-md">
                                        <i class="fa fa-fw fa-edit"></i>Edit
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th class="btn-xs">#</th>
                                <th class="btn-xs">Project Name</th>
                                <th class="btn-xs">Description</th>
                                <th class="btn-xs">Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>