<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <a class="btn btn-primary btn-sm" ng-click="newProject()">
                                <i class="fa fa-fw fa-plus-circle"></i>New Project
                            </a>
                        </div>
                        <div class="col-md-3 text-left">
                            <div class="form-group has-warning">
                                <input type="text" class="form-control input-sm" ng-model="search" placeholder="Search  Projects" />  
                                </div>

                         </div>
                          <div class="col-md-1 ">
                            <div class="form-group">
                                 <input type="number" min="1" max="100" class="form-control input-sm" ng-model="pageSize"  />
                            </div>
                          </div>
                       </div>
                    </div>
                    <table class="table table-bordered table-condensed table-hover table-striped">
                        <tbody dir-paginate="project in projects| orderBy:sortKey:reverse|filter:search|itemsPerPage:pageSize" current-page="currentPage">
                            <tr>
                                <td>{{ ($index + 1) + (currentPage - 1) * pageSize}}</td>
                                <td class="text-center"  >{{project.project_name}} 
                                     
                                 </td>
                                 <td><i >{{project.project_description}}<i/></td>
                                <td class="text-center">
                                    <a href="#" ng-click="setSelectedProject(project.id,'dashboard')" title="Dashboard"   class="btn   btn-lg">
                                        <i class="fa fa-fw fa-dashboard"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#" ng-click="setSelectedProject(project.id,'search')"   class="btn   btn-lg" title="Search" >
                                        <i class="fa fa-fw fa-search"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#" ng-click="setSelectedProject(project.id,'domains')"   class="btn   btn-lg" title="Domains" >
                                        <i class="fa fa-fw fa-clipboard"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#" ng-click="setSelectedProject(project.id,'ontologies')" class="btn  btn-lg" title="Ontologies" >
                                        <i class="fa fa-fw fa-copy"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#data-sources"   ng-click="setSelectedProject(project.id,'data')" class="btn  btn-lg" title="Data" >
                                        <i class="fa fa-fw fa-book"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#" ng-click="setSelectedProject(project.id,'tools')" class="btn  btn-lg" title="Tools" >
                                        <i class="fa fa-fw fa-code-fork"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#" ng-click="setSelectedProject(project.id,'reports')" class="btn   btn-lg" title="Reports" >
                                        <i class="fa fa-fw fa-bar-chart"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#" class="btn  btn-md"  ng-click="editProject(project.id)" title="Edit" >
                                        <i class="fa fa-fw fa-edit"></i>Edit
                                    </a>
                                </td>
                            </tr>
                                                     </tbody>
                        <thead>
                            <tr>
                                <th class="btn-xs">#</th>
                                <th class="btn-xs text-center" ng-click="sort('project_name')" >Project Name
                                     
                                    <i class="fa fa-fw -circle-o fa-angle-down"    ng-class="{'fa-angle-up':reverse,'fa-angle-down':!reverse}"></i> 
                                </th>
                                <th class="btn-xs text-center">Project Description
                                     
                                     
                                </th>
                                <th class="btn-xs text-center">Dashboard</th>
                                <th class="btn-xs text-center">Search</th>
                                <th class="btn-xs text-center">Domains</th>
                                <th class="btn-xs text-center">Ontologies</th>
                                <th class="btn-xs text-center">Data</th>
                                <th class="btn-xs text-center">Tools</th>
                                <th class="btn-xs text-center">Reports</th>
                                <th class="btn-xs text-center">Actions</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="col-md-10 text-center">
            <dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true" >
    </dir-pagination-controls>
          </div>
                </div>
            </div>
        </div>
    </div>