<div class="col-md-10">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <i class="fa fa-fw fa-twitter"></i>Twitter</h3>
              </div>
              <div class="panel-body">
                <form role="form">
                  <div class="col-md-7">
                    <div class="form-group">
                      <label class="control-label" for="exampleInputEmail1">Collection Name</label>
                      <input class="form-control" id="exampleInputEmail1" placeholder="Enter collection name" type="text">
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="exampleInputEmail1">Twitter Consumer Key</label>
                      <input class="form-control" id="exampleInputEmail1" placeholder="Enter twitter consumer key" type="text">
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="exampleInputEmail1">Twitter Consumer Secret</label>
                      <input class="form-control" id="exampleInputEmail1" placeholder="Enter twitter consumer secret" type="text">
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="exampleInputEmail1">Twitter Access Token</label>
                      <input class="form-control" id="exampleInputEmail1" placeholder="Enter twitter access token" type="text">
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="exampleInputEmail1">Twitter Access Secret</label>
                      <input class="form-control" id="exampleInputEmail1" placeholder="Enter twitter access secret" type="text">
                    </div>
                  </div>
                  <div class="col-md-5">
                     
                      <h3>Geo Filters</h3>
                    
                    <hr>
                    <div class="form-group">
                      <label class="control-label" for="exampleInputEmail1">Latitude</label>
                      <input class="form-control" id="exampleInputEmail1" type="text">
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="exampleInputEmail1">Longitude</label>
                      <input class="form-control" id="exampleInputEmail1" type="text">
                    </div>
                    <hr>
                    <div class="form-group">
                      <label class="control-label" for="exampleInputEmail1">Hashtags (Keywords)</label>
                      <textarea class="form-control" id="exampleInputEmail1"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-5 text-left">
                      <button type="submit" class="btn btn-primary">
                        <i class="fa fa-fw -circle-o fa-save"></i>Save</button>
                      <button type="submit" class="btn btn-primary">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>