
<div class="section">
   <div class="container">
      <div class="row">
         <div class="col-md-2" ng-include="'partials/projects/project-channels.html'">
            
         </div>
        <projectdatawebform  ng-show="checkDataTab('web')" ></projectdatawebform>
        <projectdatafbform  ng-show="checkDataTab('Facebook')" ></projectdatafbform>
        <projectdatatwitterform ng-show="checkDataTab('Twitter')"></projectdatatwitterform>
        <projectdatainstagramform  ng-show="checkDataTab('Instagram')" ></projectdatainstagramform>
   </div>
  </div>
</div>

<projectdataweblist ng-show="checkDataTab('web')" ></projectdataweblist>
<projectdatafblist ng-show="checkDataTab('Facebook')"></projectdatafblist>
<projectdatatwitterlist ng-show="checkDataTab('Twitter')"></projectdatatwitterlist>
<projectdatainstagramlist  ng-show="checkDataTab('Instagram')"></projectdatainstagramlist>
