<div class="section">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="panel panel-primary">
               <div class="panel-heading">
                  <h3 class="panel-title">Add New Project</h3>
               </div>
               <div class="panel-body">
                  <div class="col-md-6">
                     <form role="form">
                        <div class="form-group">
                            <label class="control-label" for="exampleInputEmail1">Project Name</label><input class="form-control" id="exampleInputEmail1" placeholder="Enter project name" type="email" />    
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="exampleInputPassword1">Description</label>
                            <textarea class="form-control" id="exampleInputPassword1" placeholder="Project description" ></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>