
<div class="section">
   <div class="container">
      <div class="row">
         <div class="col-md-2">
            <div class="panel panel-default">
               <div class="panel-body">
                  <p></p>
                  <ul class="nav nav-pills nav-stacked">
                     <li class="bg-change" ng-class="{active: datatab== 'web'}" >
                        <a href="#" ng-click="setdataTab('web')"><i class="fa fa-fw fa-globe"></i>Web</a>
                     </li>
                     </ul>
                     <ul class="nav nav-pills nav-stacked" ng-repeat="channel in channels">
                     <li class="bg-change" ng-class="{active: datatab== channel.channel_name}">
                        <a href="#" ng-click="setdataTab(channel.channel_name)"><i class="fa fa-fw fa-{{channel.channel_name | lowercase}}"></i>{{channel.channel_name}}</a>
                     </li>
                     
                     </ul>
                     <ul class="nav nav-pills nav-stacked">
                     <li class="bg-change" ng-class="{active: datatab== 'database'}">
                        <a href="#" ng-click="setdataTab('database')"><i class="fa fa-fw fa-database"></i>Database</a>
                     </li>
                  </ul>
                  <p></p>
               </div>
            </div>
         </div>
        <projectdatawebform  ng-show="checkDataTab('web')" ></projectdatawebform>
        <projectdatafbform  ng-show="checkDataTab('Facebook')" ></projectdatafbform>
        <projectdatatwitterform ng-show="checkDataTab('Twitter')"></projectdatatwitterform>
        <projectdatainstagramform  ng-show="checkDataTab('Instagram')" ></projectdatainstagramform>
   </div>
  </div>
</div>

<projectdataweblist ng-show="checkDataTab('web')"></projectdataweblist>
<projectdatafblist ng-show="checkDataTab('Facebook')"></projectdatafblist>
<projectdatatwitterlist ng-show="checkDataTab('Twitter')"></projectdatatwitterlist>
<projectdatainstagramlist  ng-show="checkDataTab('Instagram')"></projectdatainstagramlist>
